
body {
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body::-webkit-scrollbar {
    width: 6px;
    background: #fff;
    /* border-radius: 100px; */
    padding: 5px 1px !important;
    transition: 2s;
}

.Montserrat {
    font-family: 'Montserrat', sans-serif !important;
}

.JosefinT {
    /* font-family: 'Josefin Sans', sans-serif !important; */
    font-weight: 700 !important;
}

.Josefin {
    font-family: 'Josefin Sans', sans-serif !important;
}


body {
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#map {
    z-index: 1;
    height: 400px;
    border-radius: 20px;
    width: 100%;
}

body::-webkit-scrollbar-thumb {
    padding: 5px 1px;
    width: 0px;
    background: #ccc;
    /* border-radius: 100px; */
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    transition: 2s;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}




.menuuu {
    transition: all 0.5s ease !important;
}

#asdfg {
    transition: all .5s;
}


img.gall{
       max-height: 100%;
       width: 100% !important;
        object-fit: cover;
}

nav {
    width: 100%;
}

label.logo {
    color: white;
    font-size: 35px;
    list-style: 80px;
    padding: 0 100px;

}

nav ul {
    float: right;
    margin-right: 20px;
    transition: all .3s;
    display: flex;
}

nav ul button {
    display: inline-block;
    margin: 0 5px;
}

nav ul button li {
    color: #202020;
    font-size: 17px;
    padding: 0px 5px;
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}

#check {
    display: none;
}

/*  */
@media (min-width: 500px) {
    #fixed {
     display: none !important;
    }

}
@media (min-width: 767px) {
    #fixed {
     display: block !important;
    }

}

@media (max-width: 952px) {
    label.logo {
        padding-left: 50px;
        transition: all .5s;
    }

    nav ul button li {
        font-size: 16px;
        transition: all .5s;
    }
}

@media (max-width: 767px) {
    .checkbtn {
        display: block !important;
    }

    nav ul {
        position: fixed;
        height: 100vh;
        background: #fff;
        top: 93px;
        left: -100%;
        text-align: center;
        transition: all .4s;
        width: 100%;
        display: block;
    }

    nav ul button {
        display: flex !important;
        margin: 25px 0;
        line-height: 30px;
        transition: all .4s;
        flex-direction: column !important;
    }

    nav ul button li {
        transition: all .4s;
        font-size: 20px;
    }

    #check:checked~ul {
        left: 0;
        transition: all .4s;
    }

}

.strokewhite {
    -webkit-text-stroke: 1px #ef4444 !important;
    transition: .1s !important;
}

.text-smnav {
    font-size: 1.04em !important;
}


.typeText::after {
    content: "|";
    animation: blink 1s infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}



.listamnu li:hover {
    background-color: #ff172b;
}

.listamnu {
    color: #fff;
}

.listamnu li.actived {
    background-color: #ff172b !important;
    color: #fff;
}

.dnone {
    display: none;
}


.h1 {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font: 800 1.313em "proxima-nova", sans-serif;
    padding: 10px 10px;
    margin: 20px 20px;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-size: 3.125em;
    text-align: center;
    max-width: 606px;
    line-height: 1.45em;
    position: scroll;
    background-color: #e94f78;
    text-decoration: none;
    color: yellow;
    background-image: url;
}

.h1 .a {
    text-decoration: none;
    color: yellow;
    padding-left: 0.15em;
}



.whiteboard {
    /* background-image:url(http://krystalrae.com/img/krystalrae-2012-fall-print-leopard-sketch.jpg); */
    background-position: center;
    /* background-color: #fff; */
    z-index: 1000;
    width: 100%;
}

body::-webkit-scrollbar-thumb {
    padding: 5px 1px;
    width: 0px;
    background: #ccc;
    /* border-radius: 100px; */
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    transition: 2s;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}


#map {
    z-index: 1;
    height: 400px;
    width: 100%;
}


.hvrssss>div {
    display: none;
    transition: .4s !important;
}

.hvrssss:hover>div {
    display: block;
    transition: .4s !important;
}


.hvrssss:hover>h1 {
    margin-top: -300px;
    margin-left: 10px;
}

.clip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.clip.clip1 {
    background-size: cover !important;
    background-attachment: fixed !important;
    clip-path: polygon(100% 0%, 61% 0%, 51% 100%, 100% 100%) !important;
    /* clip-path: polygon(0 0, 55% 0, 20% 100%, 0% 100%); */
}

.clipp {
    top: 0;
    left: 0;
    width: 205%;
    height: 600px;
    transition: 0.5s;
}

.clipp.clipp2 {
    background: url('assets/pexels-mikael-blomkvist-6476249.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 52.3% 0%, 42% 100%, 0% 100%);
    background-attachment: fixed;
}

.menuuu {
    transition: all 0.5s ease !important;
}

#asdfg {
    transition: all .5s;
}

nav {
    width: 100%;
}

label.logo {
    color: white;
    font-size: 35px;
    list-style: 80px;
    padding: 0 100px;

}

nav ul {
    float: right;
    margin-right: 20px;
    transition: all .5s;
    display: flex;
}

nav ul button {
    display: inline-block;
    margin: 0 5px;
}

nav ul button li {
    color: #202020;
    font-size: 17px;
    padding: 0px 5px;
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        padding-left: 50px;
        transition: all .5s;
    }

    nav ul button li {
        font-size: 16px;
        transition: all .5s;
    }
}

@media (max-width: 767px) {
    .checkbtn {
        display: block !important;
    }

    nav ul {
        position: fixed;
        height: 100vh;
        background: #fff;
        top: 93px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        width: 100%;
        display: block;
    }

    nav ul button {
        display: flex !important;
        margin: 25px 0;
        line-height: 30px;
        transition: all .5s;
        flex-direction: column !important;
    }

    nav ul button li {
        transition: all .5s;
        font-size: 20px;
    }

    #check:checked~ul {
        left: 0;
        transition: all .5s;
    }

}